[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "muzzle_sr_resolve"]
	path = deps/sr_resolve
	url = https://github.com/pikostudios/sr_resolve_muzzle
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "deps/fontstash"]
	path = deps/fontstash
	url = https://github.com/PikoStudios/fontstash
[submodule "deps/kazmath"]
	path = deps/kazmath
	url = https://github.com/Kazade/kazmath/
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	branch = tag/VER-2-13-2
